[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
mypy = "*"
isort = "*"

[requires]
python_version = "3.5"

[scripts]
start = "python3 -m actioner"
test-fix = "bash ./scripts/test-fix.sh"
test = "bash ./scripts/test.sh"

[pipenv]
allow_prereleases = true

[packages]
aiohttp = "*"
apscheduler = "*"
pygithub = "*"
python-dotenv = "*"
aiohttp-basicauth = "*"
