[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
mypy = "*"
isort = "*"
nose2 = "*"
flake8-comprehensions = "*"
flake8-mutable = "*"
flake8-print = "*"
flake8-tuple = "*"
black = "*"
ipython = "*"

[requires]
python_version = "3.7"

[scripts]
start = "python3 -m actioner"
test-fix = "bash ./scripts/test-fix.sh"
test = "bash ./scripts/test.sh"

[pipenv]
allow_prereleases = true

[packages]
apscheduler = "==3.6.1"
pygithub = "==1.43.8"
todoist-python = "==8.0.0"
sentry-sdk = "==0.11.2"
python-dateutil = "==2.8.0"
starlette = "==0.12.8"
uvicorn = "==0.8.6"
starlette-auth-toolkit = "==0.5.0"
